<header>
    <nav>
        <div class="logo">
            <img src="/assets/images/logo.svg" alt="Company Logo">
        </div>
        <ul>
            <li (click)='contractsActive()' [ngClass]="{active: contracts}">
                <img src="/assets/images/person_icon.svg" alt="">
                Contracts
                <img src="/assets/images/dropdown_icon.svg" alt="DropDown Icon">
            </li>
            <li (click)='documentsActive()' [ngClass]="{active: documents}">
                <img src="/assets/images/document_icon.svg" alt="">
                Documents
                <img src="/assets/images/dropdown_icon.svg" alt="DropDown Icon">
            </li>
            <li (click)='payoutActive()' [ngClass]="{active: payout}">
                <img src="/assets/images/payment_icon.svg" alt="">
                Payout
                <img src="/assets/images/dropdown_icon.svg" alt="DropDown Icon">
            </li>
            <li (click)='timeActive()' [ngClass]="{active: time}">
                <img src="/assets/images/calendar_icon.svg" alt="">
                Time
                <img src="/assets/images/dropdown_icon.svg" alt="DropDown Icon">
            </li>
            
        </ul>
        <div class="avatar">
            <img src="/assets/images/avatar.svg" alt="Avatar">
            <img src="/assets/images/dropdown_icon.svg" alt="DropDown Icon">

        </div>
        
        
    </nav>
</header>
