.body {
  width: 80vw;
  margin: auto;
  h1 {
    margin: 2em auto;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
  }
  .top-content {
    display: grid;
    grid-template-columns: calc(65% - 1em) calc(35% - 1em);
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    & > div:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      button {
        border: transparent;
        padding: 15px;
        max-width: 100%;
        cursor: pointer;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: 68.5px;

        &:nth-child(2) {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
        }
        &:last-child {
          background: #ff5a70;
          border-radius: 5px;
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

          img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
              saturate(0%) hue-rotate(292deg) brightness(106%) contrast(101%);
            width: 14px;
          }
        }
      }
    }
  }
  .pre-table {
    margin: 20px auto;
    form {
      display: grid;
      grid-template-columns: repeat(2, (calc(30% - 1em) calc(20% - 1em)));
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }
  }
  mat-form-field {
    width: 100%;
    background-color: #fff;
  }
  mat-header-cell:nth-child(2) {
    justify-content: center;
  }

  mat-table {
    width: 100%;
    margin: auto;
    tr {
      border-bottom: 1px solid #eee;
      & th {
        background: #eff0f6;
        min-width: 50px;
        white-space: nowrap;
        padding: 0px 15px;
        text-align: center;
      }
    }

    .active,
    .pending {
      border-radius: 20px;
      padding: 8px 8px 8px 20px;
      width: 162px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-size: 10px;
      &:before {
        content: "•";
        font-size: 25px;
      }
    }
    .active {
      color: #36cf82;
      background: rgba(54, 207, 130, 0.18);
      &:before {
        color: #36cf82;
      }
    }
    .pending {
      background: rgba(242, 157, 66, 0.3);
      color: #f29d42;
      &:before {
        color: #f29d42;
      }
    }
  }
  .mat-table .mat-row {
    min-height: 90px;
  }
  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    min-width: 13vw;
    display: flex;
    justify-content: center;
  }
  .mat-table {
    mat-header-row {
      background-color: #f9f9f9;
      min-width: 50px;
      white-space: nowrap;
      padding: 0px 5px;
      text-align: center;
      border-radius: 0px;

      mat-header-cell {
        span {
          width: 100%;
          text-align: center;
          font-size: 14px;
          color: #000;
          font-weight: 700;
        }
      }

      mat-header-cell:nth-child(1) {
        span {
          display: flex;
          gap: 9px;
        }
      }

      mat-header-cell:nth-child(4) {
        min-width: 150px;
      }
    }

    mat-row {
      padding: 0px 5px;

      mat-cell {
        span {
          text-align: center;
          align-items: center;
          img {
            width: 60px;
            object-fit: cover;
          }
          p {
            margin: 0;
          }
        }
      }

      mat-cell:nth-child(1) {
        span {
          display: flex;
          gap: 9px;

          .notify-icon {
            width: 20px;
            height: 20px;
            border-radius: 15px;
            display: block;
            text-align: center;
          }
        }
      }

      /* mat-cell:nth-child(4) {
            min-width: 150px;

            span {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          } */

      mat-cell:nth-last-child(1) {
        max-width: 75px;
      }

      mat-cell:nth-last-child(1),
      mat-cell.controls {
        #vertical-menu {
          text-align: right;
        }

        #horizontal-menu {
          display: none;
        }
      }
    }
  }
  .chat-button {
    position: fixed;
    right: 0;
    bottom: 10vh;
    cursor: pointer;
  }
}
.mob-only {
  display: none;
}

@media screen and (max-width: 1000px) {
  .body {
    .mob-only {
      display: flex;
      margin: 1em 0 1em auto;
      border: transparent;
      padding: 15px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: transparent;
      color: #ff5a70;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .mat-table {
    mat-header-row {
      display: none;
    }

    mat-row {
      mat-cell {
        min-height: 30px;

        span {
          width: 100%;
          text-align: left;
          padding-left: 10px;
        }
      }

      mat-cell:nth-child(1) {
        span {
          justify-content: center;
        }
      }

      mat-cell:nth-last-child(1),
      mat-cell.controls {
        #vertical-menu {
          display: none;
        }

        #horizontal-menu {
          width: 100%;
          display: flex !important;
          flex-direction: row;
          justify-self: center;
          gap: 5px;
        }

        mat-icon.delete {
          color: #cc3333;
        }
        mat-icon.edit {
          color: #912571;
        }
      }

      /* mat-cell:nth-child(4) {
            span {
              justify-content: end !important;
            }
          } */

      mat-cell:nth-last-child(1) {
        max-width: 100% !important;
      }
      button {
        width: 100%;
      }
    }
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
    & td:first-child {
      position: absolute;
      top: 13%;
      right: 5%;
      border: none;
    }
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-row {
    height: 5px !important;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border: 2px solid #e7e7e7;
    box-shadow: 0px 0px 10px 7px rgba(172, 172, 172, 0.12);
    border-radius: 5px;
    display: block;
    align-items: center;
    min-height: 48px;
    padding: 12px;
    padding-bottom: 0;
    margin: 1em auto;
    position: relative;
  }

  .mat-table .mat-row.expanded {
    height: 830px !important;
  }

  .mat-table .mat-row.reduce {
    height: 530px !important;
  }

  .mat-table .mat-row:nth-last-child(1) {
    border: none;
  }

  .mat-table .mat-cell {
    /* border-bottom: 1px solid #ddd;
        display: flex;
        font-size: 1em;
        text-align: right; */
    /* height: 30px; */
    justify-content: space-between;
    font-size: 12px;
    button {
      transform: rotate(90deg);
    }
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 12px;
    width: -webkit-fill-available;
    width: -moz-available;
    font-weight: 700;
  }
  .mat-table .mat-cell:before:first-child {
    display: none !important;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table span img {
    display: none;
  }

  .mat-cell:last-of-type {
    padding-right: 0px !important;
  }

  .mat-cell:first-of-type {
    padding-left: 0px !important;
  }
  .chat-button {
    bottom: 0vh !important;
  }
}
@media screen and (max-width: 900px) {
  .body {
    width: 90vw;
    padding-bottom: 15vh;
    h1 {
      font-size: 24px;
    }
    .top-content {
      grid-template-columns: auto;
      & form {
        width: 90vw;
      }
    }
    .pre-table {
      & form {
        grid-template-columns: auto;
        width: 70vw;
        margin: auto;
        mat-form-field {
          width: 70vw;
        }
      }
    }
    .mat-table {
      .active,
      .pending {
        padding: 5px 5px 5px 10px;
        width: 80%;
      }
    }
  }
}
